

body{
 font-family: 'Ubuntu', sans-serif;
 padding: 0;
}
h1,h2,h3,h4{
 color:  #0D0D0D;
}
p,a{
 color:black;
}

.about-header{
 text-align: center;
 background: linear-gradient(to right, rgba(0, 0, 0, 0.11) , rgba(0, 0, 0, 0.158)),url('./download.png');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 overflow: hidden;
 padding: 20px;
}
ul{
 text-align: left;
}
.about-header .int{
 color: #035951;
 font-weight: 600;
 font-style: italic;
 margin-top:20px;
}
.second i{
 font-size: 35px;
 color:  #036158;
}
.about-header .first ul{
 list-style: none;
 margin-top: 90px;
}
.about-text h1{
 color: #035951;
 border-bottom:2px solid #035951;
}
.second h2{
 color: #035951;
}
.about-text{
 margin-bottom:50px;
}
.buttom-icon{
 margin-top: 50px;
}
.buttom-icon i{
 margin: 10px;
}
.about-header li{
 margin-top: 20px;
}
.about-header .first i{
 font-size: 27px;
 color: #035951;
}
.about-header .first i:hover{
 transform-origin: left;
 transform: rotate(15deg);
}
.image-cont{
 width: 90%;
 margin: auto;
 overflow: hidden;
 height: 400px;
 margin-top: 20px;
}
.image-cont img{
 width: 100%;
 height: 300px;
 margin-bottom: 20px;
}
.about-but a{
 padding: 20px;
 background: #036158;
 color: white;
 width: 100%;
}
.about-but li{
 padding: 0;
 list-style: none;
}
.first li{
 display: inline;
 margin: auto 10px;
}
@media screen and (max-width: 900px){

 .about-header .first ul{
  padding: 0;
  margin: auto;
  margin-top: 0px;
 }
 .first{
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
 }
 .first li{
  display: inline;
  margin: auto 10px;
 }
 .second h2{
  font-size:23px;
  font-weight: 600;
 }
}